oslo.config==1.13.0
oslo.i18n==2.0.0
oslo.serialization==1.6.0
oslo.utils==1.7.0
python-keystoneclient==0.11.2
python-novaclient==2.26.0
python-glanceclient==0.15.0
python-cinderclient==1.1.1
python-ceilometerclient==1.0.12
python-heatclient==0.2.12
python-neutronclient==2.3.9
requests==2.7.0
