[proxy_plugins]
  [proxy_plugins.soci]
    type = "snapshot"
    address = "/run/soci-snapshotter-grpc/soci-snapshotter-grpc.sock"
    [proxy_plugins.soci.exports]
      root = "/var/lib/soci-snapshotter-grpc"
